.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  fill: var(--logo-color);
  width: 100px;
  height: 52px;
}
.icon {
  width: 41px;
  height: 41px;
}
