.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  fill: var(--logo-color);
  width: 75px;
  height: 52px;
}
.icon {
  width: 32px;
  height: 32px;
}
.logoContainer {
  margin-right: 25px;
}
