.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--search-color);
  padding: 4px;
  border-radius: 50px;
  gap: 2px 0;
  border: 2px solid transparent;
  height: 32px;
}
.search:hover {
  background-color: var(--hover-color);
}
input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  color: var(--text);
  font-size: 0.9rem;
}

.buttonMargin {
  margin-right: 12px;
}

.opacity {
  cursor: default !important ;
  composes: buttonMargin;
  opacity: 0;
}

.search > svg {
  margin: 0 12px;
  fill: var(--text);
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outline {
  border: 2px solid var(--outline-color);
}
.hovered {
  background-color: var(--third-color) !important;
}

.container {
  width: 28%;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 100;
}
.containerOpened {
  background-color: var(--third-color) !important;
}
.searchBox {
  box-sizing: border-box;
  position: absolute;
  background-color: var(--third-color);
  color: var(--text);
  width: 100%;
  padding: var(--padding-tops) 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.searchBox .separator {
  border-bottom: 1px solid var(--separetor-color);
  height: 4px;
}

.svgSize {
  width: 18px;
  height: 18px;
}
@media (width < 1000px) {
  .container {
    width: 80%;
  }
}
