:root.dark {
  --main-color: #0e1113;
  --secondary-color: #000000;
  --third-color: #181c1f;
  --text: #eef1f3;
  --hover-color: #333d42;
  --logo-color: #ffffff;
  --separetor-color: #26282a;
  --outline-color: #ffffff;
  --search-color: #394246;
}
