:root.light {
  --main-color: #ffffff;
  --secondary-color: #f6f8f9;
  --third-color: #ffffff;
  --text: #131517;
  --hover-color: #dbe4e9;
  --logo-color: #ff4500;
  --separetor-color: #e6e6e6;
  --outline-color: #029dd5;
  --search-color: #edf3f7;
}
